<h1>This is the login page</h1>
        
<%= link_to "Main Menu", 'home' %>

<form>
    <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
     </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  
    <button>Login</button>
</form>